@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

$propertyLinkings: (
	thickness: height,
	color: background-color,
	text-color: color,
	label: false,
	fixed-cursor: false,
	offset: false,
	decorator: false,
);

@mixin objectProperties($object) {
	@each $key in map-keys($object) {
		@if map-has-key($propertyLinkings, $key) {
			@if map-get($propertyLinkings, $key) != false {
				#{map-get($propertyLinkings, $key)}: map-get($object, $key);
			}
		} @else {
			#{$key}: map-get($object, $key);
		}
	}
}

@mixin sliderLabel($content) {
	content: attr($content);
	@include flexCenter;
	position: absolute;
	@include objectProperties(slider(label));

	@if $content == min-label {
		left: - (sliderLabelWidth($includeOffset: true));
	} @else if $content == max-label {
		right: - (sliderLabelWidth($includeOffset: true));
	}
}

@mixin tooltip($content, $opacity, $horizontalAlignment, $verticalAlignment) {
	@include flexCenter;
	position: absolute;
	@include objectProperties($tooltip);
	visibility: visible;
	opacity: $opacity;

	@if $horizontalAlignment == start {
		left: - (tooltip(width) + tooltip(border-width) - (thumb(width) / 2));
	} @else if $horizontalAlignment == center {
		left: calc(50% - (#{tooltipWidth()} / 2));
	} @else if $horizontalAlignment == end {
		right: - (tooltip(width) + tooltip(border-width) - (thumb(width) / 2));
	}

	@if $verticalAlignment == start {
		top: - tooltipHeight($includeOffset: true);
	} @else if $verticalAlignment == end {
		bottom: - tooltipHeight($includeOffset: true);
	}

	&::before {
		content: attr($content);
	}

	@if tooltipDecorator(type) == triangle {
		@if $horizontalAlignment == start {
			& {
				border-top-right-radius: 0;
			}
		} @else if $horizontalAlignment == end {
			& {
				border-top-left-radius: 0;
			}
		}

		&::after {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-width: tooltipDecorator(size);
			border-style: solid;
			border-color: transparent;

			@if $horizontalAlignment == start {
				right: - tooltip(border-width);
			} @else if $horizontalAlignment == center {
				left: (tooltip(width) / 2) - (tooltipDecorator(size));
			} @else if $horizontalAlignment == end {
				left: - tooltip(border-width);
			}

			@if $verticalAlignment == start {
				bottom: - (tooltip(border-width) + tooltipDecorator(size));
				border-bottom-width: 0;
				border-top-color: inherit;
			} @else if $verticalAlignment == end {
				top: - (tooltip(border-width) + tooltipDecorator(size));
				border-top-width: 0;
				border-bottom-color: inherit;
			}
		}
	}
}