// Track
$track: (
	thickness: 4px,
	border: 1px solid lightgrey,
	border-radius: 2px,
	color: lightgrey
);

// Range
$range: (
	thickness: map-get($track, thickness),
	color: lightblue,
	text-color: white
);

// Thumb
$thumb: (
	width: 10px,
	height: 20px,
	border: 1px solid lightgrey,
	border-radius: 2px,
	color: white,
	cursor: pointer,
	fixed: (
		cursor: not-allowed
	)
);

// Tooltip
$tooltip: (
	width: 30px,
	height: 20px,
	offset: 5px,
	border-width: 0px,
	border-style: solid,
	border-radius: 2px,
	color: inherit,
	border-color: inherit,
	text-color: inherit,
	text-align: center,
	font-size: 12px,
	font-weight: bold,
	transition: 0.3s,
	decorator: (
		type: triangle,
		size: 5px
	)
);

// Slider
$slider: (
	margin: 5px,
	label: (
		width: 30px,
		height: max(map-get($thumb, height), map-get($range, thickness)),
		offset: 5px,
		text-color: darkgrey,
		text-align: center,
		font-size: 14px,
		font-weight: bold
	)
);