@import 'variables';
@import 'mixins';
@import 'functions';

// slider
[multi-range-slider] {
	* {
		margin: 0;
		padding: 0;
	}

	@include flexCenter;
	position: relative;
	height: thumb(height);
	@include objectProperties($slider);

	// change slider margin based on tooltip usage
	&[size-tooltip] {
		margin-top: slider(margin) + tooltip(height) + tooltip(offset);
	}

	&[start-end-tooltip] {
		margin-left: slider(margin) + tooltip(width);
		margin-right: slider(margin) + tooltip(width);
		margin-bottom: slider(margin) + tooltip(height) + tooltip(offset);
	}

	// track
	[track-container] {
		@include flexCenter;
		position: absolute;
		z-index: -2;
		width: 100%;
		height: thumb(height);

		[track] {
			width: 100%;
			@include objectProperties($track);
		}
	}

	// input
	input[type=range] {
		position: absolute;
		z-index: 1;
		width: 100%;
		background: none;
		pointer-events: none;

		&:focus {
			outline: none;
		}

		&:hover {
			+ input[type=range] + [range-container], + [range-container] {
				[range][start-end-tooltip-on-hover], [range-size][size-tooltip-on-hover] {
					&::before, &::after {
						opacity: 1;
					}
				}
			}
		}

		// ms browsers
		// NOT WORKING! ::-ms-thumb doesn't support pointer-events
		&::-ms-track {
			background: none;
			color: transparent;
			border: none;
		}

		&::-ms-thumb {
			@include objectProperties($thumb);
			pointer-events: auto;
		}

		&[fixed]::-ms-thumb {
			cursor: thumb(fixed-cursor);
		}

		&::-ms-fill-upper, &::-ms-fill-lower {
			background: none;
		}

		// moz browser
		&::-moz-range-track {
			-moz-appearance: none;
		}

		&::-moz-range-thumb {
			@include objectProperties($thumb);
			pointer-events: auto;
		}

		&[fixed]::-moz-range-thumb {
			cursor: thumb(fixed-cursor);
		}

		&::-moz-focus-outer {
			border: none;
		}

		// webkit browsers
		&::-webkit-slider-runnable-track, &::-webkit-slider-thumb, & {
			-webkit-appearance: none;
		}

		&::-webkit-slider-thumb {
			@include objectProperties($thumb);
			pointer-events: auto;
		}

		&[fixed]::-webkit-slider-thumb {
			cursor: thumb(fixed-cursor);
		}
	}

	// range
	[range-container] {
		@include flexCenter;
		position: absolute;
		z-index: 0;
		height: thumb(height);

		[range-size] {
			@include range;

			&[size-tooltip-always]::before {
				@include tooltip(size, 1, center, start);
			}

			&[size-tooltip-on-hover]::before {
				@include tooltip(size, 0, center, start);
			}
		}

		[range] {
			@include range;

			&[start-end-tooltip-on-hover] {
				&::before {
					@include tooltip(start, 0, start, end)
				}

				&::after {
					@include tooltip(end, 0, end, end)
				}
			}
		}

		&:hover {
			[range][start-end-tooltip-on-hover], [range-size][size-tooltip-on-hover] {
				&::before, &::after {
					opacity: 1;
				}
			}
		}
	}
}